<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div ng-controller="NumberController">
      <h1>Number Randomizer</h1>
      <h3>The number is: {{vm.number}}</h3>
      <button ng-click="pickRandomNumber()">Pick Random Number</button>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="../js/number.js"></script>
  </body>
</html>
